<div class="container">
    <div class="row">
        <div class="col-4 col-md-3">
            <% cntId = 0 %>
            <nav class="nav flex-column" id="myTab" role="tablist">
                <% @bookTitles.each do |title| %>
                    <% if cntId == 0 %>
                        <a class="nav-link active small" id="item-<%= cntId%>" data-bs-toggle="tab" data-bs-target="#content-<%= cntId%>" type="button" role="tab" aria-controls="content-<%= cntId%>" aria-selected="true"><%= title %></a>
                    <% else %>
                        <a class="nav-link small" id="item-<%= cntId%>" data-bs-toggle="tab" data-bs-target="#content-<%= cntId%>" type="button" role="tab" aria-controls="content-<%= cntId%>" aria-selected="false"><%= title %></a>
                    <% end %>
                    <% cntId = cntId+1 %>
                <% end %>
            </nav>
        </div>
        <div class="col-8 col-md-9">
            <% cntId = 0 %>
            <div class="tab-content">
            <% @bookTitles.each do |title| %>
                <% @clippingContent = @clippings.by_book(title)%>
                    <% if @clippingContent[0].location != nil %>
                        <% @clippingContent = @clippingContent.sort_by{ |c| c.loc_to_i[0] }%>
                    <% end %>

                    <% if cntId == 0 %>
                        <div class="tab-pane active" id="content-<%= cntId%>" role="tabpanel" aria-labelledby="home-tab">
                    <% else %>
                        <div class="tab-pane" id="content-<%= cntId%>" role="tabpanel" aria-labelledby="home-tab">
                    <% end %>

                        <div class="row justify-content-center">
                            <div class="col-8 col-md-6 col-lg-4">
                                <form class="row" action="/send-to-notion" method="post" enctype="multipart/form-data">
                                    <div class="col-12 mb-3">
                                        <input class="d-none" type="text" name="title" value="<%= @clippingContent.first.book_title %>">
                                        <input class="d-none" type="text" name="author" value="<%= @clippingContent.first.author %>">
                                        <% contentCnt = 0 %>
                                        <% @clippingContent.each do |clipping| %>
                                        <% if clipping.type == "subrayado" %>
                                        <input class="d-none" type="text" name="con-<%= contentCnt%>" value="<%= clipping.content %>">
                                        <% if clipping.page == 0 %>
                                            <input class="d-none" type="text" name="loc-<%= contentCnt%>" value="Posición: <%= clipping.location %>">
                                        <% else %>
                                            <input class="d-none" type="text" name="loc-<%= contentCnt%>" value="Posición: <%= clipping.location %> | Página <%= clipping.page %>">
                                        <% end %>
                                        <% end %>
                                        <% contentCnt = contentCnt+1 %>
                                        <% end %>
                                    </div>
                    
                                    <div class="d-grid gap-2 col-12 mx-auto">
                                        <input class="btn btn-primary mb-3" name="commit" type="submit" value="Send to notion" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-10 col-lg-9 mb-5">
                                <h1 id="bookTitle"><%= @clippingContent.first.book_title %></h1>
                                <h4 id="bookAuthor"><%= @clippingContent.first.author %></h4>
                            </div>
                            <% @clippingContent.each do |clipping| %>
                            <% if clipping.type == "subrayado" %>
                            <div class="col-10 col-lg-9 mb-4">
                                <p class="mb-1"><%= clipping.content %></p>
                                <% if clipping.page == 0 %>
                                    <small class="text-secondary">Posición: <%= clipping.location %></small>
                                <% else %>
                                <small class="text-secondary">Posición: <%= clipping.location %> | Página <%= clipping.page %></small>
                                <% end %>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                <% cntId = cntId+1 %>
            <% end %>
            </div>
        </div>
    </div>
</div>


  
  <script>
    var firstTabEl = document.querySelector('#myTab li:last-child button')
    var firstTab = new bootstrap.Tab(firstTabEl)
  
    firstTab.show()
  </script>
  